# config file for ansible -- http://ansible.com/
# ==============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]
nocows = True
roles_path = ./roles:/etc/ansible/roles
collections_path = ./collections:/etc/ansible/collections
inventory      = hosts
forks          = 50
become = false
host_key_checking = false
log_path=./log
# some basic default values...

[persistent_connection]
command_timeout = 200
connect_timeout = 200
